<!doctype html>
<html class="disable-bootstrap">
  <head>
    <title>Spec Runner</title>
    <link rel="stylesheet" href="/testem/jasmine.css" />

    <script src="/testem/jasmine.js"></script>
    <script src="/testem.js"></script>
    <script src="/testem/jasmine-html.js"></script>
    
    <script type="text/javascript">
      //Add all spec files to the require statement before starting tests
      window.tests = [];
      window.host = "http://" + document.location.hostname + ":7358"

      {{#serve_files}}
      tests.push(window.host + "/{{src}}");
      {{/serve_files}}
    </script>
    <script src="../bower_components/underscore/underscore.js" /></script>
    <script src="../bower_components/angular/angular.js" /></script>
    <script src="../bower_components/angular-mocks/angular-mocks.js" /></script>
    <script src="../bower_components/requirejs/require.js" /></script>
    <script>
      (function() {

        require.config({
          baseUrl: "http://" + document.location.hostname + ":7358/app/",
          paths: {
            "runnerHelpers": "../test/spec/helpers/runner-helpers"
          },
          deps: ["../target/index"],
          callback: function() {
            var tests;
            tests = _.map(window.tests, function(item) {
              return item.replace(".js", "");
            });
            return require(tests, (function() {
              var jasmineEnv;
              jasmineEnv = jasmine.getEnv();
              jasmineEnv.addReporter(new jasmine.HtmlReporter);
              return jasmineEnv.execute();
            }), (function(err) {
              jasmine.getEnv().currentRunner().finishCallback();
              console.error("Error loading scripts: " + (err != null ? err.message : void 0));
              return console.error(err);
            }));
          }
        });

      }).call(this);
    </script>
  </head>
  <body>
    <div id="jasmine_content"></div>
  </body>
</html>
